*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


:root{
    /*Background Color*/
    --bg-primary-color: #0c0c0c;
    --bg-task-color: #2a2a2a;
    --delete-btn-color: #ff4d4d;
    --bg-btn-color: #1a1a1a;

    /*Text Color*/
    --text-primary-color: #f4f4f4;

    /*Padding Variables*/
    --nav-padding: 15px 30px;
    --secttion-padding: 15px 30px;
    --padding-s:5px;
    --padding-m:10px;
    --padding-l:15px;
    --padding-xl:20px;
    --padding-xxl:30px;

    /*Border Color*/
    --border-primary-color: #333333;

    /*Border Radius*/
    --border-radius-xs: 5px;
    --border-radius-sm: 10px;
    --border-radius-md: 15px;
    --border-radius-lg: 20px;
    --border-radius-xl: 30px;
    --border-radius-2xl: 35px;
}

body{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-l);
    position: sticky;
    top: 0;
    background-color: var(--bg-primary-color);
}

nav button{
    background-color: var(--bg-btn-color);
    color: var(--text-primary-color);
    border: none;
    outline: none;
    border-radius: var(--border-radius-md);
    padding: var(--padding-m) var(--padding-l);
    cursor: pointer;
}

section{
    padding: var(--secttion-padding);
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: var(--padding-xxl);
}

.task-coloum{
    width: 100%;
    padding: var(--padding-m);
    flex-grow: 1;
    background-color: var(--bg-btn-color);
    border: none;
    outline: none;
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

.heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task{
    background-color: var(--bg-task-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    cursor: grab;
}

.task button{
    align-self: flex-end;
    cursor: pointer;
    padding: var(--padding-s) var(--padding-m);
    border-radius: var(--border-radius-md);
    border: none;
    outline: none;
    background-color: var(--delete-btn-color);
    color: var(--text-primary-color);
}

section .task-coloum.hover-over{
    border: 1.5px dashed var(--text-primary-color);
    scale: 1.03;
}


.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.active {
    display: flex;
}

.modal .bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(61, 61, 61, 0.404);
    backdrop-filter: blur(5px);
}

.modal .center {
    background-color: var(--bg-btn-color);
    padding: var(--border-radius-2xl);
    border-radius: var(--padding-m);
    gap: var(--padding-m);
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.modal .center input , .modal .center textarea{
    padding: var(--padding-m);
    border-radius: var(--border-radius-sm);
    border: none;
    outline: none;
    background-color: var(--bg-task-color);
    color: var(--text-primary-color);
}

.modal .center button{
    padding: var(--padding-s) var(--padding-m);
    border-radius: var(--border-radius-sm);
    border: none;
    outline: none;
    background-color: var(--bg-task-color);
    color: var(--text-primary-color);
    width: fit-content;
    align-self: center;
}